button{
	background-color: $color-light;
	border: none;
	font-family: $font;
}
button, .btn{
	padding: $len-base $len-largest;
	border-radius: $len-small;
	box-shadow: $shadow-m;
	color: $color-base;
	border: 1px solid transparent;
	cursor: pointer;
	&-primary{
		background-color: $color-darker;
	}
	&-default{
		color: $color-light;
		box-shadow: none;
		&:hover{
			border: 1px solid $color-light;
			background: rgba(244,164,96,0.4)
		}
	}

	&:hover{
		box-shadow: none;
		transition: $shadow-trans;
	}
}