$web-path-font: 'https://fonts.googleapis.com/css?family=Noto+Serif' !default;
$font: 'Noto Serif', serif;

$color-base: #faebd7 !default;
$color-light: #8b4726 !default;
$color-lighter : #ffdead !default;
$color-dark: #7b6148 !default;
$color-darker: #422407 !default;