.columns {
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
}

.card {
    background: #fff;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: .8rem;
}

.card:hover {
    box-shadow: $shadow;
  }