.card {
    background: $color-white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: .8rem;
    margin: 5px 0px;
    box-shadow: 0 1px 2px 0 rgba(168,182,191,0.6);
    transition: all .25s ease-out;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(168,182,191,0.6);
    transform: translateY(-1px);
}