// Codes
code {
  @include label-base();
  @include label-variant($code-color, lighten($code-color, 33%));
  font-size: 85%;
}

.code {
  border-radius: $border-radius;
  color: $c8;
  position: relative;

  &::before {
    color: $c8;
    content: attr(data-lang);
    font-size: $font-size-sm;
    position: absolute;
    right: $layout-spacing;
    top: $unit-h;
  }

  code {
    background: $c7;
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }
}
