.collection {
    margin: 1.2rem;

    .collection__item {
        padding: 1.2rem;
        border-radius: 0.9rem;
        transition: 0.2s;

        &:hover {
            background-color: $color-bg--dark;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            color: $color-gray--darkest;
        }
    }
}