.dropdown {
  display: inline-block;
  position: relative;

  .dropdown__menu {
    animation: slide-down .15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;

    background: #fff;
    border-radius: .3rem;
    list-style: none;
    margin: 0;
    min-width: 180px;
    padding: .4rem;
    z-index: 300;
    transition: .25s;

    .dropdown__menuItem {
      padding: .9rem;
      border-radius: .3rem;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }

  &.dropdown--right {
    .dropdown__menu {
      left: auto;
      right: 0;
    }
  }

  &.active .dropdown__menu,
  .dropdown__toggle:focus+.dropdown__menu,
  .dropdown__menu:hover {
    display: block;
  }
}