input,
select {
    border-radius: 3rem !important;
    padding: 0.3rem 0.9rem;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
select,
textarea {
    border: 0.2rem solid darken($color-bg, 10%) !important;
    background: darken($color-bg, 10%);
    height: 39px;

    &:hover,
    &:active,
    &:focus {
        border: 0.2rem solid $color-primary !important;
        background: $color-bg;
        transition: 0.25s;
    }

    &:hover+i,
    &:focus+i {
        background-color: $color-primary !important;
        transition: 0.25s;
    }
}

.form__group {
    margin: 2rem .3rem;

    label {
        margin: .9rem .6rem;
    }

    .form__hint {
        margin: .6rem;
        font-size: 1.3rem;
        color: $color-gray--light;
    }
}

.input--logo {
    position: relative;

    input {
        padding-right: 3.6rem;
    }

    i {
        position: absolute;
        right: 6px;
        padding: 10px 12px;
        pointer-events: none;
        background: $color-primary;
        top: 8px;
        background: $color-gray--lighter;
    }
}