i {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    vertical-align: middle;
    margin: auto .3rem;

    &.icon--white {
        background-color: $white;
    }

    &.icon--primary {
        background-color: $color-primary;
    }

    &.icon-ios-finger-print {
        -webkit-mask: url(../svg/ios-finger-print.svg) no-repeat 100% 100%;
        mask: url(../svg/ios-finger-print.svg) no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
    }
}