.navbar {
    height: 64px;
    padding: 0.625rem 0rem;
    display: flex;

    .container {
        display: flex;

        .navbar__logo {
            display: flex;
            align-items: center;
            margin: 5px 0px;
        }

        .navbar__menu {
            list-style: none;
            display: flex;
            flex-direction: row;
            margin: 0;

            .navbar__item {
                margin: 1.2rem .6rem;
                display: flex;
                align-items: center;

                &:last-child{
                    margin: 1.2rem 0rem 1.2rem .6rem;
                }
            }
        }
    }
}

.menu--left {
    margin-left: auto !important;
}

.navbar--primary{
    background-color: $color-primary;
    color: white;
}
