.navbar {
    height: 64px;
    padding: 0.625rem 0rem;
    display: flex;

    .container {
        display: flex;

        .navbar__logo {
            display: flex;
            align-items: center;
            margin: 5px 0px;
            height: 100%;
			width: auto;
        }

        .navbar__menu {
            list-style: none;
            display: none;
            flex-direction: row;
            margin: 0;

            .navbar__item {
                margin: 1.2rem .6rem;
                display: flex;
                align-items: center;

                &:last-child {
                    margin: 1.2rem 0rem 1.2rem .6rem;
                }
            }

        }

        .navbar__icon {
            display: flex;
            align-items: center;
            margin: auto 1.2rem;
            
            i{
                margin: auto 1.2rem;
            }
        }

        @media (#{$bp-larger-than-desktop}) {
            .navbar__menu {
                display: flex;
            }
            .navbar__icon {
                display: none;
            }
        }
    }
}

.menu--left {
    margin-left: auto !important;
}

.navbar--primary {
    background-color: $color-primary;
    color: white;
}