.notify {
    padding: 1.8rem 1.5rem;
    margin: 1rem 0rem;
    display: block;
    background: $color-gray--lightest;
    color: $color-gray--darkest;
    border-radius: $global-radius;
    box-shadow: $shadow-1;

    &.notify--info {
        background: $color-info--light;
        color: $color-info--dark;
    }
    &.notify--success {
        background: $color-success--light;
        color: $color-success--dark;
    }
    &.notify--warning {
        background: $color-warning--light;
        color: $color-warning--dark;
    }
    &.notify--danger {
        background: $color-danger--light;
        color: $color-danger--dark;
    }
}