.table {
  thead>tr {
    border-bottom: .2rem solid $color-gray--lightest;
  }
}

.table--bordered {

  th,
  td {
    border: .05rem solid $color-gray--lightest;
  }
}

.table--striped {
  tbody>tr:nth-child(odd)>td {
    background-color: $color-gray--lightest;
  }
}

.table--hover {
  tbody tr {
    &:hover {
      background-color: $color-gray--lightest;
    }
  }
}

.table--compact {
  thead>tr {
    border-bottom: .2rem solid $color-gray--lightest;
  }

  th,
  td {
    padding: .3rem;
  }
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  table {
    margin-bottom: .5rem;
  }
}