// Tooltips
.tooltip {
    position: relative;

    &::after {
        background: rgba(48, 55, 66, .95);
        border-radius: 3px;
        bottom: 100%;
        color: #fff;
        content: attr(data-tooltip);
        display: block;
        font-size: 1em;
        left: 50%;
        max-width: 320px;
        opacity: 0;
        overflow: hidden;
        padding: .6rem;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        transform: translate(-50%, .4rem);
        transition: opacity .2s, transform .2s;
        white-space: pre;
        z-index: 300;
    }

    &:focus,
    &:hover {
        &::after {
            opacity: 1;
            transform: translate(-50%,-.2rem);
        }
    }
}