// Breakpoints
$bp-larger-than-mobile : "min-width: 400px" !default;
$bp-larger-than-phablet : "min-width: 550px" !default;
$bp-larger-than-tablet : "min-width: 750px" !default;
$bp-larger-than-desktop : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

//Globals
$line-height: 2.4rem !default;
$global-radius: .3rem !default;
$border-color: #bbb !default;

// Font variables
$font-sans-serif: 'Barlow',
sans-serif;
$font-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
$font-base: $font-sans-serif;
$font-color: #222222 !default;

$font-size: 1.6rem !default;
$font-size--lg: ceil($font-size * 1.23); // ~20px
$font-size--md: ceil($font-size * 1.14); // ~16px
$font-size--sm: ceil($font-size * 0.92); // ~13px
$font-size--xs: ceil($font-size * 0.85); // ~12px

// Primary background color
$color-bg: #E9EBEE;

// Gray colors for theme
$color-gray: #222222;
$color-gray--light: lighten($color-gray, 10%) !default;
$color-gray--lighter: lighten($color-gray, 30%) !default;
$color-gray--lightest: lighten($color-gray, 60%) !default;

$color-gray--dark: darken($color-gray, 10%) !default;
$color-gray--darker: darken($color-gray, 30%) !default;
$color-gray--darkest: darken($color-gray, 60%) !default;

// Classic brand colors
$color-primary: #34887C;
$color-primary--dark: darken($color-primary, 20%) !default;
$color-primary--light: lighten($color-primary, 30%) !default;

$color-info: #5BC0EB;
$color-info--dark: darken($color-info, 30%) !default;
$color-info--light: lighten($color-info, 20%) !default;

$color-success: #28a745;
$color-success--dark: darken($color-success, 30%) !default;
$color-success--light: lighten($color-success, 20%) !default;

$color-warning: #F7B733;
$color-warning--dark: darken($color-warning, 30%) !default;
$color-warning--light: lighten($color-warning, 20%) !default;

$color-danger: #EA3921;
$color-danger--dark: darken($color-danger, 30%) !default;
$color-danger--light: lighten($color-danger, 20%) !default;

$color-link: #496DDB !default;
$color-link--visited: #9140D4 !default;
$color-link--hover: darken($color-link, 10%) !default;
$color-link--active: #D44076 !default;

$color-white: #ffffff !default;

// Grid Variables
$container-width: 1000px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 2% !default; // space between column grids

// Flex Grid Variables
$flex-grid__column--fixed-width: 200px !default;
$flex-grid--column-margin: 2% !default;

// Shadow
$shadow: 0 6px 32px 0 rgba(63, 48, 48, 0.3);
$shadow-1: 0 1px 3px 0 rgba(0,0,0,.3);