.u-full-width {
  width: 100%;
}

.u-max-full-width {
  max-width: 100%;
}

.u-pull--right {
  float: right;
}

.u-pull--left {
  float: left;
}

.u-disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

/**
 * Clear inner floats
 */
.u-clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.u-hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Text Alignment

.u-ta-left {
  text-align: left;
}

.u-ta-left {
  text-align: center;
}

.u-ta-right {
  text-align: right;
}

/* Spacing helper from https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9 */
$spaceamounts: (10, 20, 30, 40, 50, 100);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}--#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}--#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}