.h--fullWidth {
  width: 100% !important;
}

.h--maxFullWidth {
  max-width: 100% !important;
}

.h--pullRight {
  float: right !important;
}

.h--pullLeft {
  float: left !important;
}

.h--disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

// Text Alignment
.h--textLeft {
  text-align: left !important;
}

.h--textCenter {
  text-align: center !important;
}

.h--textRight {
  text-align: right !important;
}

/* Spacing helper from https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9 */
$spaceamounts: (0, 10, 20, 30, 40, 50, 100, auto);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {

  .h--m#{$space}{
    margin: #{$space}px !important;
  }
  .h--p#{$space}{
    padding: #{$space}px !important;
  }

  @each $side in $sides {
    .h--m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .h--p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
.h--mauto{
  margin: auto !important;
}

// Text styling
.h--textGray{
  color: $color-gray--lighter !important;
}

// Background colors
.h--bgPrimary{
  background-color: $color-primary !important;
  color: $color-white !important;
}

// Display
.h--dFlex{
  display: flex !important;
}

// Misc
.h--shadow{
  box-shadow: $shadow-2 !important;
}

.h--bRadius{
  border-radius: .6rem !important;
}