.u--fullWidth {
  width: 100% !important;
}

.u--maxFullWidth {
  max-width: 100% !important;
}

.u--pullRight {
  float: right !important;
}

.u--pullLeft {
  float: left !important;
}

.u--disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

// Text
.u--textLeft {
  text-align: left !important;
}

.u--textCenter {
  text-align: center !important;
}

.u--textRight {
  text-align: right !important;
}

.u--textGray {
  color: $color-gray--lighter !important;
}

// Spacing margin & padding
/* Spacing helper from https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9 */
$spaceamounts: (0, 5, 10, 20, 30, 40, 50, 100);
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {

  .u--m#{$space} {
    margin: #{$space}px !important;
  }

  .u--p#{$space} {
    padding: #{$space}px !important;
  }

  .u--mx#{$space} {
    margin-left: #{$space}px !important;
    margin-right: #{$space}px !important;
  }

  .u--my#{$space} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }

  .u--px#{$space} {
    padding-left: #{$space}px !important;
    padding-right: #{$space}px !important;
  }

  .u--py#{$space} {
    padding-top: #{$space}px !important;
    padding-bottom: #{$space}px !important;
  }

  @each $side in $sides {
    .u--m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .u--p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.u--mauto {
  margin: auto !important;
}

.u--mxauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u--myauto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

// Background colors
.u--bgDefault {
  background-color: $color-bg !important;
  color: $color-gray !important;
}

.u--bgPrimary {
  background-color: $color-primary !important;
  color: $color-white !important;
}

.u--bgInfo {
  background-color: $color-info !important;
  color: $color-white !important;
}

.u--bgSuccess {
  background-color: $color-success !important;
  color: $color-white !important;
}

.u--bgWarning {
  background-color: $color-warning !important;
  color: $color-white !important;
}

.u--bgDanger {
  background-color: $color-danger !important;
  color: $color-white !important;
}

.u--bgWhite {
  background-color: $color-white !important;
  color: $color-gray !important;
}

// Display
.u--dFlex {
  display: flex !important;
}

// Hide & show element
.u--showLg, .u--hideSm {
	@media (#{$bp-larger-than-mobile}) {
		display: none !important;
	}

	@media (#{$bp-larger-than-desktop}) {
		display: block !important;
	}
}

.u--showSm, .u--hideLg {
	@media (#{$bp-larger-than-mobile}) {
		display: block !important;
	}

	@media (#{$bp-larger-than-desktop}) {
		display: none !important;
	}
}

// Misc
.u--shadow {
  box-shadow: $shadow-2 !important;
}

.u--bRadius {
  border-radius: .6rem !important;
}