.flex-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-grid>* {
  flex: 1;

  &.flex-grid__col {
    flex-grow: 4;
    margin-left: $flex-grid--column-margin;
  }

  &.flex-grid__col--fixed-width {
    flex: 0 0 $flex-grid__column--fixed-width;
  }

  &.flex-grid__col--sm {
    flex-grow: 2;
  }

  &.flex-grid__col--lg {
    flex-grow: 8;
  }

  &:first-child {
    margin-left: 0rem;
  }

  &:last-child {
    margin-right: 0rem;
  }
}

@media (max-width: 549px) {
  .flex-grid--md {
    display: block;
  }

  .flex-grid--md>* {
    padding-left: 0;
    padding-right: 0;

    &.flex-grid__col {
      margin-left: 0;
    }

  }
}

@media (max-width: 959px) {
  .flex-grid--lg {
    display: block;
  }

  .flex-grid--lg>* {
    padding-left: 0;
    padding-right: 0;

    &.flex-grid__col {
      margin-left: 0;
    }
  }
}