.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: $primary;
    border: .1rem solid $primary;
    border-radius: .4rem;
    color: $gray-light;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    &:focus,
    &:hover {
        background-color: $gray;
        border-color: $gray;
        color: $gray-light;
        outline: 0;
    }
    &[disabled] {
        cursor: default;
        opacity: .5;
        &:focus,
        &:hover {
            background-color: $primary;
            border-color: $primary;
        }
    }
    &.btn-outline {
        background-color: transparent;
        color: $primary;
        &:focus,
        &:hover {
            background-color: transparent;
            border-color: $gray;
            color: $gray;
        }
        &[disabled] {
            &:focus,
            &:hover {
                border-color: inherit;
                color: $primary;
            }
        }
    }
    &.btn-clear {
        background-color: transparent;
        border-color: transparent;
        color: $primary;
        &:focus,
        &:hover {
            background-color: transparent;
            border-color: transparent;
            color: $gray;
        }
        &[disabled] {
            &:focus,
            &:hover {
                color: $primary;
            }
        }
    }
}