.card {
    background: #fff;
    border: .05rem solid #e7e9ed;
    border-radius: .1rem;
    display: flex;
    flex-direction: column;
    .card-header {
        padding: .8rem;
        padding-bottom: 0;
        flex: 1 1 auto;
    }
    .card-image {
        padding-top: 10px;
    }
    .card-name {
        flex: 1 1 auto;
        padding: .8rem;
        padding-bottom: 0;
    }
    .card-footer {
        flex: 1 1 auto;
        padding: .8rem .8rem 0 .8rem;
        display: flex;
        p {
            padding-left: 9rem; 
        }
    }
    .card-body {
        flex: 1 1 auto;
        padding: .8rem .8rem 0 .8rem;
        .card-detail {
            flex: 1 1 auto;
            padding: .8rem .8rem 0 .8rem;
            display: flex;
            border-radius: 10%;
        }
        .card-content {
            flex: 1 1 auto;
            padding: .8rem;
            padding-bottom: 0;
        }
    }
    
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
img {
    border-style: none;
}
.text-gray {
    color: #acb3c2;
}