code {
    background: $gray-light;
    border-radius: .4rem;
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
}

pre {
    background: $gray-light;
    border-left: .3rem solid white;
    overflow-y: hidden;
    &>code {
        border-radius: 0;
        display: block;
        padding: 1rem 1.5rem;
        white-space: pre;
    }
}