// Dropdown button
.dropdown {
    position: relative;
    display: inline-block;
    &:focus+.menu {
        display: block;
    }
}

.menu {
    background: #fff;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    display: none;
    filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.1));
    min-width: 13.4rem;
    position: absolute;
    list-style: none;
    border-radius: 5px;
    transform: translateX(-6%);
    margin: 0px;
    li {
        padding: 0px 5px;
        &:hover {
            background: $primary-light;
            color: white;
        }
    }
    &:before,
    &:after {
        border: solid transparent;
        border-color: transparent;
        border-width: 1rem;
        content: " ";
        height: 0;
        left: 50%;
        pointer-events: none;
        position: absolute;
        right: 1.7rem;
        top: 0;
        width: 0
    }
    &:before {
        border-bottom-color: #d1d1d1;
        transform: translate(-50%, -102%)
    }
    &:after {
        border-bottom-color: #fff;
        transform: translate(-50%, -100%)
    }
}