// Empty states
.empty {
    background: #f8f9fa;
    padding: 3.2rem 1.6rem;
    text-align: center;
    border-radius: .1rem;
}
.empty-title {
    margin: .4rem auto;
}
.empty-action {
    margin-top: .8rem;
}
.col {
    padding: .4rem;
}
.btn-link {
    background: 0 0;
    border-color: transparent;
    color: $color-primary;
}
.label-inline {
    display: inline-flex;
}