.navbar {
    background: $gray-light;
    .navmenu {
        height: 52px;
        list-style: none;
        line-height: 52px;
        &.title {
            font-size: 2.5rem;
            color: $primary;
            font-weight: bold;
        }
        &.item {
            display: inline-block;
            line-height: 52px;
            vertical-align: middle;
        }
    }
}