.tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
 
        &.right {
            top: -5px;
            left: 105%; 

            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
            }
        }
        &.left {
            top: -5px;
            right: 105%; 
            
            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent black;
            }
        }
        &.top {
            width: 120px;
            bottom: 100%;
            left: 50%; 
            margin-left: -60px;
            
            &:after {
                content: " ";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
            }
        }
        &.bottom {
            width: 120px;
            top: 100%;
            left: 50%; 
            margin-left: -60px;

            &:after {
                content: " ";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }
        }
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}