// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #fff !default;
$color-primary: #34887C !default;
$color-secondary: #F7B733 !default;
$color-tertiary: #4ABDAC !default;
$color-quaternary: #123833 !default;
$color-quinary: #e9ebee !default;

// Fonts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import url('https://fonts.googleapis.com/css?family=Barlow');
$font: 'Barlow', sans-serif;
